#container {
    width: 100%;
    min-height: 2000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#header {
    position: relative;
    width: 100%;
    .header-top {
        width: 100%;
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7;
        height: 33px;
        font-size: 12px;
        color: #555;
        line-height: 32px;
        font-family: simsun, serif;
        .top-center {
            width: 1190px;
            height: 33px;
            margin: 0 auto;
            .center-left {
                width: 221px;
                height: 32px;
                float: left;
                .saoma {
                    float: left;
                    width: 105px;
                    height: 32px;
                    img {
                        vertical-align: middle;
                    }
                    span {
                        display: inline-block;
                        font-size: 12px;
                        color: #555;
                    }
                }
                a {
                    float: left;
                    margin-left: 5px;
                    font-size: 12px;
                    color: #555;
                    &:hover {
                        color: #f60;
                        text-decoration: underline;
                    }
                }
            }
            .center-right {
                width: 566px;
                height: 32px;
                line-height: 32px;
                float: right;
                li {
                    line-height: 32px;
                    float: left;
                    padding-right: 10px;
                    a {
                        display: inline-block;
                        position: relative;
                        height: 32px;
                        color: #555;
                        font-size: 12px;
                        padding-left: 5px;
                    }
                    .iconfont {
                        color: #555;
                        font-size: 12px;
                        font-weight: 800;
                    }
                    .icon-daohangshouye2 {
                        color: #d9534f;
                    }
                    &:hover {
                        background-color: #FFF;
                    }
                } //我是雇主下拉菜单
                .dd a {
                    &:hover {
                        background-color: #fff;
                        .zuji {
                            display: block;
                        }
                        .iconfont {
                            -webkit-transform: rotate(-90deg);
                        }
                    }
                    .zuji {
                        position: absolute;
                        display: none;
                        top: 32px;
                        left: 0;
                        z-index: 99;
                        background-color: #fff;
                        box-shadow: 2px 2px #ddd;
                        li {
                            width: 80px;
                            height: 30px;
                            text-align: center;
                            &:hover {
                                background-color: #ddd;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-center {
        width: 100%;
        height: 117px;
        font-family: "Microsoft YaHei";
        .center {
            position: relative;
            width: 1190px;
            height: 77px;
            margin: 15px auto;
            padding: 20px 0 10px;
            color: #333;
            img {
                float: left;
                margin-right: 30px;
            }
            .city {
                float: left;
                width: 127px;
                height: 64px;

                p {
                    margin-top: 16px;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: #ff9400;
                    i {
                        margin-left: 15px;
                    }
                }
                span {
                    color: #bbb;
                    font-size: 12px;
                }
            }
            .jiejue {
                float: left;
                height: 30px;
                margin-top: 20px;
                padding: 0 0 0 14px;
                border-left: 1px solid #e5e5e5;
                color: #7d7d7d;
                font-size: 18px;
                line-height: 30px;
                font-family: "Microsoft YaHei"
            }
            .inp {
                float: left;
                position: relative;
                width: 522px;
                margin-left: 100px;
                .fuwu {
                    position: absolute;
                    top: 3px;
                    width: 67px;
                    height: 19px;
                    padding: 10px 0 10px 20px;
                    color: #555;
                    font-size: 12px;
                    line-height: 19px;
                    i {
                        padding-left: 5px;
                    }
                }
                .shu {
                    font-size: 14px;
                    width: 360px;
                    height: 20px;
                    line-height: 20px;
                    padding: 10px 6px 9px 90px;
                    vertical-align: top;
                    outline: 0;
                    border: 3px solid #ff9400;
                }
                .sousuo {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 63px;
                    height: 45px;
                    background: #f60;
                    font-size: 16px;
                    font-weight: 700;
                    padding-left: 12px;
                    padding-right: 12px;
                    text-align: center;
                    color: #fff;
                    outline: 0;
                    border: 0;
                }
                .serch {
                    width: 522px;
                    height: 24px;
                    margin-top: 5px;
                    span {
                        color: #333;
                        font-size: 12px;
                    }
                    a {
                        display: inline-block;
                        font-size: 12px;
                        color: #ff9400;
                        margin-right: 13px;
                        font-family: "Helvetica Neue"
                    }
                }
            }
            .or {
                display: inline-block;
                font-size: 12px;
                color: #333;
            }
            .send {
                position: relative;
                background: #f60;

                margin-left: 10px;
                font-size: 14px;
                padding: 0 8px 0 0;
                height: 45px;

                font-size: 16px;
                font-weight: 700;
                padding-left: 12px;
                padding-right: 12px;
                text-align: center;
                color: #fff;
                outline: 0;
                border: 0;
            }
        }
    }
    .header-bottom {
        position: relative;
        width: 100%;
        height: 41px;
        margin: 0 auto;
        border-bottom: 1px solid #ff6900;
        font-family: microsoft yahei;
        .wrap {
            position: relative;
            width: 1190px;
            height: 41px;
            line-height: 41px;
            margin: 0 auto;
            .liebiao {
                float: left;
                width: 56px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                margin-top: 5px;
                border-radius: 20px;
                i {
                    color: #f60;
                    font-size: 20px;
                    font-weight: 1000;
                }
                &:hover {
                    background-color: #ff6900;
                }
                &:hover {
                    i {
                        color: #FFF;
                    }
                }
            }
            span {
                float: left;
                width: 62px;
                height: 28px;
                border-radius: 20px;
                text-align: center;
                line-height: 28px;
                font-size: 16px;
                color: #ff6900;
                margin-top: 5px;
                font-family: microsoft yahei;
                &:hover {
                    background-color: #ff6900;
                    color: #FFF;
                }
            }
            em {
                content: "";
                position: absolute;
                bottom: 0;
                left: 152px;
                z-index: 1000;
                width: 0;
                height: 0;
                border-bottom: 10px solid #f60;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                display: none;
            }
            .lb-left {
                float: left;
                height: 40px;
                line-height: 40px;
                li {
                    float: left;
                    height: 28px;
                    width: 94px;
                    border-radius: 20px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 16px;
                    color: #ff6900;
                    margin-top: 5px;
                    font-family: microsoft yahei;
                    &:hover {
                        background-color: #ff6900;
                        color: #FFF;
                    }
                }
                .zh {
                    color: #fff;
                    border-radius: 20px;
                    background-color: #ff6900
                }
            }
            .lb-right {
                float: right;
                width: 570px;
                height: 40px;
                li {
                    position: relative;
                    float: left;
                    height: 28px;
                    width: 94px;
                    border-radius: 20px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 16px;
                    color: #666;
                    margin-top: 5px;
                    font-family: microsoft yahei;
                    div {
                        display: none;
                        position: absolute;
                        top: 36px;
                        background-color: #FFF;
                        z-index: 99;
                        p {
                            height: 38px;
                            width: 94px;
                            text-align: center;
                            line-height: 38px;
                            border-bottom: 0.5px dashed #ddd;
                        }
                        p:last-child {
                            border: none;
                        }
                        p:first-child {
                            border-top: 2px solid #f60;
                        }
                    }
                    &:hover div {
                        display: block;
                    }
                }
            }
        }
    }
    .hidebar {
        display: none;
        position: absolute;
        top: 208px;
        left: 0;
        width: 100%;
        min-height: 208px;
        background-color: #fff;
        border-top: 1px solid #f60;
        box-shadow: 0 2px #ddd;
        z-index: 20;
        .barlist {
            position: absolute;
            left: 90px;
            width: 1190px;
            min-height: 208px;
            margin: 30px auto;
            .bor {
                border-right: 1px dashed #333;
            }
            .item-list {
                float: left;
                width: 180px;
                margin-left: 50px;
                margin-top: 20px;
                dt {
                    width: 100%;
                    height: 24px;
                    color: #f60;
                    padding-bottom: 15px;
                    font-size: 18px;
                    font-weight: 800;
                    line-height: 1.5;
                    font-family: 'Microsoft YaHei';
                }
                dd {
                    height: 24px;
                    float: left;
                    width: 49%;
                    height: 24px;
                    font-family: simsun, serif;
                    line-height: 24px;
                    overflow: hidden;
                    color: #555;
                    font-size: 14px;
                    a {
                        color: #f60;
                    }
                }
            }
        }
    }
}

@mixin floor($border, $bgcolor) {
    position: relative;
    width: 1190px;
    height: 400px;
    margin: 40px auto;
    font-family: "Microsoft Yahei";
    border-top: 2px solid $border;
    .part1 {
        float: left;
        width: 230px;
        height: 400px;
        background-color: $border;
        h3 {
            font-size: 30px;
            width: 100%;
            height: 35px;
            line-height: 35px;
            overflow: hidden;
            padding-top: 30px;
            margin: 0 0 15px 20px;
            margin-bottom: 15px;
            font-weight: 600;
            color: #fff;
        }
        p {
            width: 194px;
            font-size: 16px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            padding: 10px 0;
            color: #fff;
            margin-left: 20px;
            margin-bottom: 10px;
            border-bottom: 1px dashed #fff;
        }
        .dianzan {
            margin-top: 85px;
            width: 194px;
            height: 42px;
            img {
                float: left;
                margin-left: 20px;
            }
            h4 {
                float: left;
                font-size: 14px;
                height: 22px;
                color: #FFF;
            }
        }
        .lei {
            width: 212px;
            height: 96px;
            margin: 10px 20px;

            li {
                float: left;
                width: 95px;
                height: 27px;
                line-height: 27px;
                text-align: center;
                margin-right: 5px;
                margin-bottom: 5px;
                background-color: $bgcolor;
                color: #FFF;
            }
        }
    }
    .part2 {
        float: left;
        width: 300px;
        height: 398px;
        .shang {
            position: relative;
            width: 300px;
            height: 198px;
            background-color: #F2F2F2;
            h2 {
                width: 280px;
                height: 44px;
                line-height: 44px;
                padding-left: 20px;
                font-size: 18px;
                font-weight: 800;
                color: #555;
            }
            span {
                display: block;
                color: #808080;
                padding-left: 20px;
                padding-bottom: 10px;
                font-size: 14px;
            }
            p {
                line-height: 30px;
                color: #FF0000;
                font-size: 14px;
                padding-left: 20px;
            }
            img {
                position: absolute;
                bottom: 15px;
                right: 20px;
            }
            &:hover img {
                transform: translateX(-10px);
                transition: all 1s ease;
            }
        }
        .xia {
            margin-top: 2px;
        }
    }
    .part3 {
        position: relative;
        float: left;
        width: 360px;
        height: 398px;
        background: {
            image: url(../images/ms.png);
        }
        &:hover img {
            transform: translateX(-10px);
            transition: all 1s linear;
        }
        img {
            margin: 14px 15px;
        }
        .wrap {
            position: absolute;
            top: 20px;
            left: 40px;
            width: 360px;
            h2 {
                width: 330px;
                height: 45px;
                line-height: 45px;
                span {
                    background-color: #ed1f35;
                    font-size: 14px;
                    color: #FFF;
                }
            }
            h1 {
                font-size: 36px;
                color: #333;
                font-weight: 800;
            }
            p {
                line-height: 32px;
                font-size: 16px;
                color: #333;
            }
        }
    }
}

#section {
    width: 100%;
    margin: 0 auto;
    /*  .lunbo {
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;
        .lunbo-body {
            width: 99999px;
            li {
                float: left;
            }
        }
        .lunbo-index {
            position: absolute;
            left: 50%;
            bottom: 30px;
            li {
                float: left;
                width: 15px;
                height: 15px;
                margin-right: 20px;
                border-radius: 47%;
                border: 1px solid #FFF;
            }
        }
    } */
    .swiper-container {
        width: 100%;
        height: 450px;
    }
    .remen {
        margin: 0 auto;
        width: 1190px;
        height: 200px;
        p {
            float: left;
            position: relative;
            display: inline-block;
            width: 230px;
            height: 165px;
            margin-top: 30px;
            span {
                position: absolute;
                top: 60px;
                left: 60px;
                display: inline-block;
                width: 80px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-family: "Microsoft Yahei";
                font-size: 20px;
                font-weight: bold;
                color: #333;
            }
        }
        div {
            float: left;
            width: 140px;
            height: 125px;
            font-size: 14px;
            color: #555;
            margin-top: 40px;
            margin-left: 15px;
            img {
                margin: 30px 0 10px 45px;
            }
            &:hover {
                img {
                    transform: scale(1.1, 1.1);
                    transition: all 0.5s linear;
                }
                background-color:#eee;
                color:#ff6700;
            }
            span {
                display: inline-block;
                height: 25px;
                line-height: 25px;
                margin-left: 40px;
                font-family: "Microsoft Yahei";
            }
        }
    }
    .floor {
        position: fixed;
        width: 50px;
        li {
            height: 38px;
            line-height: 38px;
            color: #333;
            font-size: 12px;
            border-bottom: 1px solid #666;
        }
    }

    .list {
        @include floor(#29b9c2, #34b3bb);
    }
    .list1 {
        @include floor(#F3992E, #e98610);
    }
    .list2 {
        @include floor(#7655E1, #6b4bce);
    }
    .list3 {
        @include floor(#F3992E, #e98610);
    }
    .list4 {
        @include floor(#5273DE, #4460be);
    }
    .list5 {
        @include floor(#7655E1, #6b4bce);
    }
    .list6 {
        @include floor(#F3992E, #e98610);
    }
}

#footer {
    width: 100%;
    margin: 0 auto;
    .promise {
        width: 100%;
        height: 160px;
        padding-top: 35px;
        padding-bottom: 50px;
        margin-top: 50px;
        background-color: rgb(249, 249, 249);
        h3 {
            width: 110px;
            height: 46px;
            height: 40px;
            margin: 0px auto 30px;
            border-bottom: 2px solid rgb(255, 102, 0);
            text-align: center;
            font-size: 12px;
            font-size: 26px;
            line-height: 1.5;
            color: #333;
            font-weight: 800;
        }
        .promise-list {
            width: 1190px;
            height: 160px;
            margin: 0 auto;
            .one {
                width: 392px;
                height: 85px;
                float: left;
                img {
                    float: left;
                    margin-left: 50px;
                    margin-right: 20px;
                }
                p {
                    float: left;
                    width: 200px;
                    font-size: 13px;
                    line-height: 30px;
                }
            }
            .two {
                border-right: 1px solid #ddd;
            }
            .ones {
                border-right: 1px solid #ddd;
            }
        }
    }
    .foot {
        width: 100%;
        height: 135px;
        background: {
            image: url(../images/111.jpg);
        }
        padding: 30px 0;
        background: #363636;
        color: #999;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 1.5;
        .item {
            width: 1190px;
            height: 135px;
            margin: 0 auto;
            .item-list {
                width: 198px;
                float: left;
                margin-left: 5px;
                dt {
                    width: 100%;
                    height: 24px;
                    color: #dcdcdc;
                    padding-bottom: 15px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    font-family: 'Microsoft YaHei';
                }
                dd {
                    height: 24px;
                    float: left;
                    width: 49%;
                    height: 24px;
                    font-family: simsun, serif;
                    line-height: 24px;
                    overflow: hidden;
                    color: #999;
                    font-size: 12px;
                }
            }
            .bao {
                float: left;
                width: 198px;
                /*  height: 44px; */
                border-left: 1px solid #4e4f52;
                border-right: 1px solid #4e4f52;
                text-align: center;
                p {
                    width: 198px;
                    color: #4e4f52;
                    text-align: center;
                }
            }
            .kefu {
                float: left;
                width: 170px;
                height: 53px;
                text-align: center;
                dt {
                    width: 136px;
                    height: 25px;
                    margin: 0 auto;
                    background-color: #ff6700;
                    color: #FFF;
                    font-size: 14px;
                    text-align: center;
                    line-height: 25px;
                }
                dd {
                    float: left;
                    padding-left: 20px;
                    margin: 20px auto;
                    margin-left: 30px;
                }
            }
        }
    }
    .tool {
        width: 52px;
        height: 175px;
        position: fixed;
        top: 109px;
        right: 10px;
        bottom: 115px;
        left: 1361px;
        border: 1px solid #ddd;
        background-color: #FFF;
        text-align: center;
        p {
            position: relative;
            width: 52px;
            height: 58px;
            text-align: center;
            line-height: 58px;
            border-bottom: 1px solid #EEE;
            color: #ff6700;
            i {
                position: absolute;
                left: 10px;
                font-size: 30px;
                color: #FFF;
                z-index: 99;
                display: none;
            }
            span {
                position: absolute;
                display: block;
                width: 30px;
                height: 10px;
                left: 10px;
                /* z-index: 99; */
                font-size: 12px;
            }
            &:hover {
                i {
                    display: block;
                }
                background-color:#ff6700;
                span {
                    color: #FFF;
                    background-color: #ff6700;
                }
            }
        }
    }
    .erweima {
        display: none;
        position: fixed;
        top: 50px;
        right: 10px;
        bottom: 115px;
        left: 1230px;
        height: 290px;
        width: 120px;
        text-align: center;
        background-color: #FFF;
        img {
            display: block;
            margin: 10px auto;
        }
        p {
            font-size: 12px;
            color: red;
        }
    }
}