#container {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  position: relative;
  width: 100%;
}

#header .header-top {
  width: 100%;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  height: 33px;
  font-size: 12px;
  color: #555;
  line-height: 32px;
  font-family: simsun, serif;
}

#header .header-top .top-center {
  width: 1190px;
  height: 33px;
  margin: 0 auto;
}

#header .header-top .top-center .center-left {
  width: 221px;
  height: 32px;
  float: left;
}

#header .header-top .top-center .center-left .saoma {
  float: left;
  width: 105px;
  height: 32px;
}

#header .header-top .top-center .center-left .saoma img {
  vertical-align: middle;
}

#header .header-top .top-center .center-left .saoma span {
  display: inline-block;
  font-size: 12px;
  color: #555;
}

#header .header-top .top-center .center-left a {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  color: #555;
}

#header .header-top .top-center .center-left a:hover {
  color: #f60;
  text-decoration: underline;
}

#header .header-top .top-center .center-right {
  width: 566px;
  height: 32px;
  line-height: 32px;
  float: right;
}

#header .header-top .top-center .center-right li {
  line-height: 32px;
  float: left;
  padding-right: 10px;
}

#header .header-top .top-center .center-right li a {
  display: inline-block;
  position: relative;
  height: 32px;
  color: #555;
  font-size: 12px;
  padding-left: 5px;
}

#header .header-top .top-center .center-right li .iconfont {
  color: #555;
  font-size: 12px;
  font-weight: 800;
}

#header .header-top .top-center .center-right li .icon-daohangshouye2 {
  color: #d9534f;
}

#header .header-top .top-center .center-right li:hover {
  background-color: #FFF;
}

#header .header-top .top-center .center-right .dd a:hover {
  background-color: #fff;
}

#header .header-top .top-center .center-right .dd a:hover .zuji {
  display: block;
}

#header .header-top .top-center .center-right .dd a:hover .iconfont {
  -webkit-transform: rotate(-90deg);
}

#header .header-top .top-center .center-right .dd a .zuji {
  position: absolute;
  display: none;
  top: 32px;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 2px 2px #ddd;
}

#header .header-top .top-center .center-right .dd a .zuji li {
  width: 80px;
  height: 30px;
  text-align: center;
}

#header .header-top .top-center .center-right .dd a .zuji li:hover {
  background-color: #ddd;
}

#section {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#section #sidebar {
  position: absolute;
  top: -33px;
  left: 0;
  width: 320px;
  height: 450px;
  box-shadow: 2px -1px 3px -1px #d5d3d0;
  border: 1px solid #d5d3d0;
  z-index: 99;
  background-color: #FFF;
  float: left;
  display: inline;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

#section #sidebar .map-logo {
  width: 300px;
  height: 67px;
  padding-top: 10px;
  padding-left: 20px;
}

#section #sidebar .map-list {
  width: 320px;
  border-top: 1px solid #ebebec;
}

#section #sidebar .map-list a {
  display: inline-block;
  width: 102px;
  height: 32px;
  color: #3187fe;
  text-align: center;
  line-height: 32px;
  border-right: 1px solid #ebebec;
}

#section #sidebar .wraper {
  width: 320px;
  height: 341px;
  overflow-y: scroll;
}

#section #sidebar .wraper h3 {
  width: 320px;
  height: 53px;
  font-size: 14px;
  color: #2e344a;
  font-weight: 800;
  text-align: center;
  line-height: 53px;
}

#section #sidebar .wraper .lunbo {
  width: 320px;
  height: 184px;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  margin: 10px 10px;
}

#section #sidebar .wraper .lunbo li {
  float: left;
  width: 80px;
  height: 90px;
}

#section #sidebar .wraper .tuijian {
  width: 320px;
  height: 280px;
}

#section #sidebar .wraper .tuijian li {
  text-align: center;
  float: left;
  width: 100px;
  height: 136px;
  border: 1px solid #ebebec;
}

#section #sidebar .wraper .tuijian li:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s ease;
  box-shadow: 2px 2px #e5e5e5;
  z-index: 10;
}

#section #map {
  float: right;
  width: 1120px;
  height: 417px;
  overflow: hidden;
  z-index: 9;
  background-color: #f3f1ec;
  color: black;
}

#footer {
  float: left;
  width: 100%;
  margin: 0 auto;
}

#footer .foot {
  width: 100%;
  height: 135px;
  background-image: url(../images/111.jpg);
  padding: 30px 0;
  background: #363636;
  color: #999;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.5;
}

#footer .foot .item {
  width: 1190px;
  height: 135px;
  margin: 0 auto;
}

#footer .foot .item .item-list {
  width: 198px;
  float: left;
  margin-left: 5px;
}

#footer .foot .item .item-list dt {
  width: 100%;
  height: 24px;
  color: #dcdcdc;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Microsoft YaHei';
}

#footer .foot .item .item-list dd {
  height: 24px;
  float: left;
  width: 49%;
  height: 24px;
  font-family: simsun, serif;
  line-height: 24px;
  overflow: hidden;
  color: #999;
  font-size: 12px;
}

#footer .foot .item .bao {
  float: left;
  width: 198px;
  /*  height: 44px; */
  border-left: 1px solid #4e4f52;
  border-right: 1px solid #4e4f52;
  text-align: center;
}

#footer .foot .item .bao p {
  width: 198px;
  color: #4e4f52;
  text-align: center;
}

#footer .foot .item .kefu {
  float: left;
  width: 170px;
  height: 53px;
  text-align: center;
}

#footer .foot .item .kefu dt {
  width: 136px;
  height: 25px;
  margin: 0 auto;
  background-color: #ff6700;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}

#footer .foot .item .kefu dd {
  float: left;
  padding-left: 20px;
  margin: 20px auto;
  margin-left: 30px;
}
