#container {
  width: 100%;
  min-height: 2000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  position: relative;
  width: 100%;
}

#header .header-top {
  width: 100%;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  height: 33px;
  font-size: 12px;
  color: #555;
  line-height: 32px;
  font-family: simsun, serif;
}

#header .header-top .top-center {
  width: 1190px;
  height: 33px;
  margin: 0 auto;
}

#header .header-top .top-center .center-left {
  width: 221px;
  height: 32px;
  float: left;
}

#header .header-top .top-center .center-left .saoma {
  float: left;
  width: 105px;
  height: 32px;
}

#header .header-top .top-center .center-left .saoma img {
  vertical-align: middle;
}

#header .header-top .top-center .center-left .saoma span {
  display: inline-block;
  font-size: 12px;
  color: #555;
}

#header .header-top .top-center .center-left a {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  color: #555;
}

#header .header-top .top-center .center-left a:hover {
  color: #f60;
  text-decoration: underline;
}

#header .header-top .top-center .center-right {
  width: 566px;
  height: 32px;
  line-height: 32px;
  float: right;
}

#header .header-top .top-center .center-right li {
  line-height: 32px;
  float: left;
  padding-right: 10px;
}

#header .header-top .top-center .center-right li a {
  display: inline-block;
  position: relative;
  height: 32px;
  color: #555;
  font-size: 12px;
  padding-left: 5px;
}

#header .header-top .top-center .center-right li .iconfont {
  color: #555;
  font-size: 12px;
  font-weight: 800;
}

#header .header-top .top-center .center-right li .icon-daohangshouye2 {
  color: #d9534f;
}

#header .header-top .top-center .center-right li:hover {
  background-color: #FFF;
}

#header .header-top .top-center .center-right .dd a:hover {
  background-color: #fff;
}

#header .header-top .top-center .center-right .dd a:hover .zuji {
  display: block;
}

#header .header-top .top-center .center-right .dd a:hover .iconfont {
  -webkit-transform: rotate(-90deg);
}

#header .header-top .top-center .center-right .dd a .zuji {
  position: absolute;
  display: none;
  top: 32px;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 2px 2px #ddd;
}

#header .header-top .top-center .center-right .dd a .zuji li {
  width: 80px;
  height: 30px;
  text-align: center;
}

#header .header-top .top-center .center-right .dd a .zuji li:hover {
  background-color: #ddd;
}

#header .picu {
  width: 1190px;
  text-align: center;
  margin: 0 auto;
}

#header .header-center {
  width: 100%;
  height: 117px;
  font-family: "Microsoft YaHei";
}

#header .header-center .center {
  position: relative;
  width: 1190px;
  height: 77px;
  margin: 15px auto;
  padding: 20px 0 10px;
  color: #333;
}

#header .header-center .center img {
  float: left;
  margin-right: 30px;
}

#header .header-center .center .city {
  float: left;
  width: 127px;
  height: 64px;
}

#header .header-center .center .city p {
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ff9400;
}

#header .header-center .center .city p i {
  margin-left: 15px;
}

#header .header-center .center .city span {
  color: #bbb;
  font-size: 12px;
}

#header .header-center .center .jiejue {
  float: left;
  height: 30px;
  margin-top: 20px;
  padding: 0 0 0 14px;
  border-left: 1px solid #e5e5e5;
  color: #7d7d7d;
  font-size: 18px;
  line-height: 30px;
  font-family: "Microsoft YaHei";
}

#header .header-center .center .inp {
  float: left;
  position: relative;
  width: 522px;
  margin-left: 100px;
}

#header .header-center .center .inp .fuwu {
  position: absolute;
  top: 3px;
  width: 67px;
  height: 19px;
  padding: 10px 0 10px 20px;
  color: #555;
  font-size: 12px;
  line-height: 19px;
}

#header .header-center .center .inp .fuwu i {
  padding-left: 5px;
}

#header .header-center .center .inp .shu {
  font-size: 14px;
  width: 360px;
  height: 20px;
  line-height: 20px;
  padding: 10px 6px 9px 90px;
  vertical-align: top;
  outline: 0;
  border: 3px solid #ff9400;
}

#header .header-center .center .inp .sousuo {
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 45px;
  background: #f60;
  font-size: 16px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  color: #fff;
  outline: 0;
  border: 0;
}

#header .header-center .center .inp .serch {
  width: 522px;
  height: 24px;
  margin-top: 5px;
}

#header .header-center .center .inp .serch span {
  color: #333;
  font-size: 12px;
}

#header .header-center .center .inp .serch a {
  display: inline-block;
  font-size: 12px;
  color: #ff9400;
  margin-right: 13px;
  font-family: "Helvetica Neue";
}

#header .header-center .center .or {
  display: inline-block;
  font-size: 12px;
  color: #333;
}

#header .header-center .center .send {
  position: relative;
  background: #f60;
  margin-left: 10px;
  font-size: 14px;
  padding: 0 8px 0 0;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  color: #fff;
  outline: 0;
  border: 0;
}

#header .header-bottom {
  position: relative;
  width: 100%;
  height: 41px;
  margin: 0 auto;
  border-bottom: 1px solid #ff6900;
  font-family: microsoft yahei;
}

#header .header-bottom .wrap {
  position: relative;
  width: 1190px;
  height: 41px;
  line-height: 41px;
  margin: 0 auto;
}

#header .header-bottom .wrap .liebiao {
  float: left;
  width: 56px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-top: 5px;
  border-radius: 20px;
}

#header .header-bottom .wrap .liebiao i {
  color: #f60;
  font-size: 20px;
  font-weight: 1000;
}

#header .header-bottom .wrap .liebiao:hover {
  background-color: #ff6900;
}

#header .header-bottom .wrap .liebiao:hover i {
  color: #FFF;
}

#header .header-bottom .wrap span {
  float: left;
  width: 62px;
  height: 28px;
  border-radius: 20px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: #ff6900;
  margin-top: 5px;
  font-family: microsoft yahei;
}

#header .header-bottom .wrap span:hover {
  background-color: #ff6900;
  color: #FFF;
}

#header .header-bottom .wrap em {
  content: "";
  position: absolute;
  bottom: 0;
  left: 152px;
  z-index: 1000;
  width: 0;
  height: 0;
  border-bottom: 10px solid #f60;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: none;
}

#header .header-bottom .wrap .lb-left {
  float: left;
  height: 40px;
  line-height: 40px;
}

#header .header-bottom .wrap .lb-left li {
  float: left;
  height: 28px;
  width: 94px;
  border-radius: 20px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: #ff6900;
  margin-top: 5px;
  font-family: microsoft yahei;
}

#header .header-bottom .wrap .lb-left li:hover {
  background-color: #ff6900;
  color: #FFF;
}

#header .header-bottom .wrap .lb-left .zh {
  color: #fff;
  border-radius: 20px;
  background-color: #ff6900;
}

#header .header-bottom .wrap .lb-right {
  float: right;
  width: 570px;
  height: 40px;
}

#header .header-bottom .wrap .lb-right li {
  position: relative;
  float: left;
  height: 28px;
  width: 94px;
  border-radius: 20px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  font-family: microsoft yahei;
}

#header .header-bottom .wrap .lb-right li div {
  display: none;
  position: absolute;
  top: 36px;
  background-color: #FFF;
  z-index: 99;
}

#header .header-bottom .wrap .lb-right li div p {
  height: 38px;
  width: 94px;
  text-align: center;
  line-height: 38px;
  border-bottom: 0.5px dashed #ddd;
}

#header .header-bottom .wrap .lb-right li div p:last-child {
  border: none;
}

#header .header-bottom .wrap .lb-right li div p:first-child {
  border-top: 2px solid #f60;
}

#header .header-bottom .wrap .lb-right li:hover div {
  display: block;
}

#header .hidebar {
  display: none;
  position: absolute;
  top: 268px;
  left: 0;
  width: 100%;
  min-height: 208px;
  background-color: #fff;
  border-top: 1px solid #f60;
  box-shadow: 0 2px #ddd;
  z-index: 20;
}

#header .hidebar .barlist {
  position: absolute;
  left: 90px;
  width: 1190px;
  min-height: 208px;
  margin: 30px auto;
}

#header .hidebar .barlist .bor {
  border-right: 1px dashed #333;
}

#header .hidebar .barlist .item-list {
  float: left;
  width: 180px;
  margin-left: 50px;
  margin-top: 20px;
}

#header .hidebar .barlist .item-list dt {
  width: 100%;
  height: 24px;
  color: #f60;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  font-family: 'Microsoft YaHei';
}

#header .hidebar .barlist .item-list dd {
  height: 24px;
  float: left;
  width: 49%;
  height: 24px;
  font-family: simsun, serif;
  line-height: 24px;
  overflow: hidden;
  color: #555;
  font-size: 14px;
}

#header .hidebar .barlist .item-list dd a {
  color: #f60;
}

#section {
  width: 100%;
  margin: 0 auto;
}

#section .section-one {
  width: 100%;
  height: 610px;
  background-color: #ddd;
}

#section .section-one .one-item {
  position: relative;
  width: 1190px;
  height: 610px;
  margin: 0 auto;
}

#section .section-one .one-item .sidebar {
  width: 212px;
  height: 87px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 0 0 15px;
}

#section .section-one .one-item .sidebar .sidebar-title {
  width: 176px;
  height: 20px;
  border-left: 4px solid #ff3c00;
  padding-left: 10px;
}

#section .section-one .one-item .sidebar .sidebar-title h3 {
  float: left;
  font-size: 18px;
  color: #333;
}

#section .section-one .one-item .sidebar .sidebar-title a {
  float: right;
  color: black;
  font-size: 12px;
}

#section .section-one .one-item .sidebar .sidebar-title a:hover {
  color: #f60;
  text-decoration: underline;
}

#section .section-one .one-item .sidebar .sidebar-content {
  width: 209px;
  height: 56px;
  margin: 0 auto;
}

#section .section-one .one-item .sidebar .sidebar-content li {
  float: left;
  margin: 10px 20px 0 0;
}

#section .section-one .one-item .sidebar .sidebar-content li a {
  color: #999;
  font-size: 12px;
}

#section .section-one .one-item .sidebar .sidebar-content li a:hover {
  text-decoration: underline;
}

#section .section-one .one-item .bor {
  border-bottom: 0;
}

#section .section-one .one-item .lunbo-top {
  position: absolute;
  width: 955px;
  height: 428px;
  top: 0;
  right: 0;
}

#section .section-one .one-item .lunbo-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 955px;
  height: 170px;
}

#section .active {
  background-color: #f5f5f5;
}

#section .section-two {
  width: 1190px;
  margin: 0 auto;
}

#section .section-two .two-title {
  width: 1190px;
  height: 38px;
  background-color: #e5e5e5;
}

#section .section-two .two-title .list {
  display: block;
  float: left;
  width: 113px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  color: #f60;
}

#section .section-two .two-title .a {
  background-color: #f5f5f5;
}

#section .section-two .two-title .b {
  width: 141px;
  color: #333;
}

#section .section-two .abc {
  position: relative;
  width: 1190px;
  height: 445px;
}

#section .section-two .abc .two-content {
  overflow: hidden;
  width: 1190px;
  height: 445px;
  text-align: center;
  background-color: #f5f5f5;
}

#section .section-two .abc .two-content .item {
  float: left;
  margin: 30px 20px 30px 30px;
  overflow: hidden;
  width: 242px;
  height: 352px;
  background-color: #fff;
  border: 1px solid #ddd;
}

#section .section-two .abc .two-content .item .item-header {
  width: 210px;
  height: 97px;
  padding: 15px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#section .section-two .abc .two-content .item .item-header h2 {
  width: 208px;
  height: 19px;
  line-height: 19px;
  margin-bottom: 10px;
  color: black;
  font-size: 18px;
  font-weight: 800;
}

#section .section-two .abc .two-content .item .item-header p {
  width: 208px;
  height: 33px;
  color: #999;
  line-height: 33px;
  font-size: 18px;
}

#section .section-two .abc .two-content .item .item-header p span {
  color: #f60;
  font-size: 16px;
}

#section .section-two .abc .two-content .item .item-header p i {
  color: #ff3c00;
  font-size: 19px;
  font-weight: 800;
}

#section .section-two .abc .two-content .item .item-header h4 {
  width: 208px;
  height: 22px;
  margin-top: 10px;
  color: #c9c9c9;
  font-size: 14px;
}

#section .section-two .abc .two-content .item .item-header h4 a {
  color: #ff8400;
  font-weight: 800px;
  text-decoration: line-through;
}

#section .section-two .abc .two-content .item .item-header h4 span {
  color: #fff;
  background-color: #ff3c00;
}

#section .section-two .abc .two-content .item .item-body {
  width: 222px;
  height: 170px;
  padding: 10px;
  text-align: center;
  overflow-y: scroll;
}

#section .section-two .abc .two-content .item .item-body p {
  width: 203px;
  line-height: 20px;
  margin: 0 auto;
  color: #666;
  font-size: 18px;
  margin-top: 12px;
}

#section .section-two .abc .two-content .item .item-body p span {
  color: #333;
}

#section .section-two .abc .two-hide {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#section .section-two .anli {
  width: 1190px;
  height: 86px;
  margin: 0 auto;
}

#section .section-two .two-pic {
  width: 1190px;
  height: 392px;
  margin: 0 auto;
}

#section .section-two .two-pic img {
  float: left;
}

#section .section-two .two-pic .pic-show {
  float: left;
  width: 220px;
  height: 185px;
  margin: 0 5px 10px 15px;
}

#section .section-two .two-pic .pic-show img {
  width: 220px;
  height: 155px;
}

#section .section-two .two-pic .pic-show p {
  display: none;
  width: 220px;
  line-height: 30px;
  text-align: center;
  background-color: #555;
}

#section .section-two .two-pic .pic-show:hover p {
  display: block;
}

#section .section-two .service {
  width: 1190px;
  height: 850px;
  margin: 0 auto;
}

#section .section-two .service .service-left {
  float: left;
  width: 808px;
  height: 800px;
  padding-top: 30px;
  background-color: #f9f9f9;
}

#section .section-two .service .service-left img {
  margin-left: 5px;
}

#section .section-two .service .service-left ul li {
  float: left;
  width: 182px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 15px 10px;
  background-color: #f60;
  color: #fff;
}

#section .section-two .service .service-left ul li:hover {
  background-color: #ff8000;
}

#section .section-two .service .service-right {
  float: right;
  width: 355px;
  height: 850px;
}

#section .section-two .service .service-right .top {
  width: 355px;
  height: 405px;
  background-color: #f6f6f6;
}

#section .section-two .service .service-right .top h3 {
  width: 325px;
  height: 25px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #404144;
  line-height: 38px;
}

#section .section-two .service .service-right .top h3 a {
  color: #f60;
  font-size: 14px;
  padding-left: 15px;
}

#section .section-two .service .service-right .top ul li {
  width: 355px;
  color: #666;
  font-size: 12px;
  line-height: 30px;
  margin: 5px 0;
}

#section .section-two .service .service-right .top ul li span {
  float: left;
  padding: 0 5px;
  color: #ff6700;
  font-size: 20px;
}

#section .section-two .service .service-right .top ul li em {
  float: right;
  margin-right: 20px;
  color: #ff6700;
  font-size: 14px;
}

#section .section-two .service .service-right .bottom {
  margin-top: 20px;
  width: 355px;
  height: 405px;
  background-color: #f6f6f6;
}

#section .section-two .service .service-right .bottom h3 {
  width: 325px;
  height: 25px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #404144;
  line-height: 38px;
}

#section .section-two .service .service-right .bottom ul li {
  position: relative;
  width: 355px;
  color: #666;
  font-size: 12px;
  line-height: 30px;
  margin: 5px 0;
}

#section .section-two .service .service-right .bottom ul li a {
  padding-left: 20px;
  color: #666;
  font-size: 12px;
}

#section .section-two .task-list {
  overflow: hidden;
  position: relative;
  width: 1190px;
  height: 450px;
  border-top: 2px solid #ddd;
  margin: 0 auto;
}

#section .section-two .task-list .list-move {
  width: 952px;
  height: 780px;
}

#section .section-two .task-list .list-move .move-body {
  width: 952px;
  height: 455px;
}

#section .section-two .task-list .list-move .move-body li {
  width: 952px;
  height: 55px;
  margin-bottom: 20px;
}

#section .section-two .task-list .list-move .move-body li div {
  float: left;
  width: 304px;
  height: 55px;
  line-height: 22px;
  font-size: 14px;
  color: #333;
  margin-right: 10px;
}

#section .section-two .task-list .list-move .move-body li div strong {
  color: #f60;
}

#section .section-two .task-list .list-move .move-body li div p {
  color: #999;
  font-size: 12px;
}

#section .section-two .task-list .listbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  min-height: 370px;
  border-left: 1px solid #eee;
  padding: 15px 0 0 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

#section .section-two .task-list .listbar h3 {
  width: 200px;
  height: 60px;
  font-size: 14px;
  line-height: 30px;
  color: #333;
}

#section .section-two .task-list .listbar h3 strong {
  color: #ff9000;
  font-size: 26px;
  font-weight: 800;
}

#section .section-two .task-list .listbar a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: #f60;
  font-size: 14px;
  text-align: center;
  font-family: simsun, serif;
  font-weight: 800;
  color: #fff;
}

#footer {
  width: 100%;
  margin: 0 auto;
}

#footer .promise {
  width: 100%;
  height: 160px;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-top: 50px;
  background-color: #f9f9f9;
}

#footer .promise h3 {
  width: 110px;
  height: 46px;
  height: 40px;
  margin: 0px auto 30px;
  border-bottom: 2px solid #ff6600;
  text-align: center;
  font-size: 12px;
  font-size: 26px;
  line-height: 1.5;
  color: #333;
  font-weight: 800;
}

#footer .promise .promise-list {
  width: 1190px;
  height: 160px;
  margin: 0 auto;
}

#footer .promise .promise-list .one {
  width: 392px;
  height: 85px;
  float: left;
}

#footer .promise .promise-list .one img {
  float: left;
  margin-left: 50px;
  margin-right: 20px;
}

#footer .promise .promise-list .one p {
  float: left;
  width: 200px;
  font-size: 13px;
  line-height: 30px;
}

#footer .promise .promise-list .two {
  border-right: 1px solid #ddd;
}

#footer .promise .promise-list .ones {
  border-right: 1px solid #ddd;
}

#footer .foot {
  width: 100%;
  height: 135px;
  background-image: url(../images/111.jpg);
  padding: 30px 0;
  background: #363636;
  color: #999;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.5;
}

#footer .foot .item {
  width: 1190px;
  height: 135px;
  margin: 0 auto;
}

#footer .foot .item .item-list {
  width: 198px;
  float: left;
  margin-left: 5px;
}

#footer .foot .item .item-list dt {
  width: 100%;
  height: 24px;
  color: #dcdcdc;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Microsoft YaHei';
}

#footer .foot .item .item-list dd {
  height: 24px;
  float: left;
  width: 49%;
  height: 24px;
  font-family: simsun, serif;
  line-height: 24px;
  overflow: hidden;
  color: #999;
  font-size: 12px;
}

#footer .foot .item .bao {
  float: left;
  width: 198px;
  /*  height: 44px; */
  border-left: 1px solid #4e4f52;
  border-right: 1px solid #4e4f52;
  text-align: center;
}

#footer .foot .item .bao p {
  width: 198px;
  color: #4e4f52;
  text-align: center;
}

#footer .foot .item .kefu {
  float: left;
  width: 170px;
  height: 53px;
  text-align: center;
}

#footer .foot .item .kefu dt {
  width: 136px;
  height: 25px;
  margin: 0 auto;
  background-color: #ff6700;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}

#footer .foot .item .kefu dd {
  float: left;
  padding-left: 20px;
  margin: 20px auto;
  margin-left: 30px;
}

#footer .tool {
  width: 52px;
  height: 175px;
  position: fixed;
  top: 109px;
  right: 10px;
  bottom: 115px;
  left: 1361px;
  border: 1px solid #ddd;
  background-color: #FFF;
  text-align: center;
}

#footer .tool p {
  position: relative;
  width: 52px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  border-bottom: 1px solid #EEE;
  color: #ff6700;
}

#footer .tool p i {
  position: absolute;
  left: 10px;
  font-size: 30px;
  color: #FFF;
  z-index: 99;
  display: none;
}

#footer .tool p span {
  position: absolute;
  display: block;
  width: 30px;
  height: 10px;
  left: 10px;
  /* z-index: 99; */
  font-size: 12px;
}

#footer .tool p:hover {
  background-color: #ff6700;
}

#footer .tool p:hover i {
  display: block;
}

#footer .tool p:hover span {
  color: #FFF;
  background-color: #ff6700;
}

#footer .erweima {
  display: none;
  position: fixed;
  top: 50px;
  right: 10px;
  bottom: 115px;
  left: 1230px;
  height: 290px;
  width: 120px;
  text-align: center;
  background-color: #FFF;
}

#footer .erweima img {
  display: block;
  margin: 10px auto;
}

#footer .erweima p {
  font-size: 12px;
  color: red;
}
